.card{
    position:relative;
    transition: 1s;
    &:hover .card_overlay{
        display: block;
    }
}
.card_overlay{
    
    position:absolute;
    background-color: #ffffffd1;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    
}
.img{
    width: 100%;
}